# LLM api key
LLM_API_KEY= your LLM api key
LLM_PROVIDER= your LLM provider
LLM_MODEL= your llm model
EMBEDDING_PROVIDER= your embedding provider
EMBEDDING_MODEL= your embedding model

# Cognee base URL (Docker container)
COGNEE_BASE_URL=http://localhost:8000

# Backend port
PORT=3001